@model IEnumerable<WebPrueba.Models.Movie>
@{
	ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
	<table>
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Title)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Director)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.DateReleased)
		</td>

		<td>
			@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
			@Html.ActionLink("Details", "Details", new { id=item.ID })  |
			@Html.ActionLink("Delete", "Delete", new { id=item.ID }) 
		</td>
	</tr>
	</table>
}